<%- include('../partials/head')%>
<link rel="stylesheet" href="/output.css"/>
    <body class="m-0">
      <%- include('../partials/navHome')%>
      <%- include ('../partials/footer')%>
    </body>
    </html>