<%- include('../partials/head')%>
<link rel="stylesheet" href="/addedJobstyle.css"/>
        <body>
                <%- include('../partials/navStore')%>
                <div id="div">
                <h1>Your Profile is successfully added</h1>
                
                <a href="/store/addProfile">Add more</a>
        </div>
        <%- include ('../partials/footer')%>
        </body>
</html>

        