<%- include('../partials/head')%>
<link rel="stylesheet" href="/addedJobstyle.css"/>
        <body>
                <%- include('../partials/navHost')%>
                <div id="div">
                <h1>Your Post is successfully added</h1>
                
                <a href="/host/addJob">Add more</a>
        </div>
        <%- include ('../partials/footer')%>
        </body>
</html>

        